<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">
<!-- 	<select id="memberlist" resultType="memberDto"> -->
<!-- 		select * from member -->
<!-- 	</select> -->
	
		<!-- 멤버 정렬 -->
	<select id="memberlist" resultType="memberDto" parameterType="String"> 
	select * from member order by 
	<choose>
		<when test="orderType == 'memberNoAsc'">member_no asc</when>
		<when test="orderType == 'memberNoDesc'">member_no desc</when>
		<when test="orderType == 'memberReportCountAsc'">member_report_count asc</when>
		<when test="orderType == 'memberReportCountDesc'">member_report_count desc</when>
		<when test="orderType == 'memberNickAsc'">member_nick asc</when>
		<when test="orderType == 'memberNickDesc'">member_nick desc</when>
		<when test="orderType == 'memberBirthAsc'">member_birth asc</when>
		<when test="orderType == 'memberBirthDesc'">member_birth desc</when>
		<when test="orderType == 'memberLogindateAsc'">member_logindate asc</when>
		<when test="orderType == 'memberLogindateDesc'">member_logindate desc</when>
	</choose>
	</select>
	<!-- 회원 삭제 -->
	<delete id="deleteMember" parameterType="int">
		delete member where member_no = #{memberNo}
	</delete>
	
	<!-- 회원정보 변경 -->
	<update id="changeInformation" parameterType="MemberDto">
		update member 
			set
				member_name = #{memberName},
				member_Nick = #{memberNick}, member_email = #{memberEmail},
				member_gender = #{memberGender}, member_phone = #{memberPhone},
				member_sns_id = #{memberSnsId}, member_interest1 = #{memberInterest1},
				member_interest2 = #{memberInterest2}, member_interest3 = #{memberInterest3},
				member_place1 = #{memberPlace1}, member_place2 = #{memberPlace2}, member_place3 = #{memberPlace3}
			where
				member_no = #{memberNo}
	</update>
	<!-- 회원 상세 조회 -->
	<select id="oneMember" resultType="MemberDto" parameterType="int">
		select * from member where member_No = #{memberNo}
	</select>
	
	<!-- 소모임 정렬 -->
	<select id="clublist" resultType="clubDto" parameterType="map"> 
	select * from club 
			order by
	<choose>
		<when test="orderType == 'clubNameAsc'">club_name asc</when>
		<when test="orderType == 'clubNameDesc'">club_name desc</when>
		<when test="orderType == 'clubNoAsc'">club_no asc</when>
		<when test="orderType == 'clubNoDesc'">club_no desc</when>
		<when test="orderType == 'clubMainCategoryAsc'">club_main_category asc</when>
		<when test="orderType == 'clubMainCategoryDesc'">club_main_category desc</when>
		<when test="orderType == 'clubSubCategoryAsc'">club_sub_category asc</when>
		<when test="orderType == 'clubSubCategoryDesc'">club_sub_category desc</when>
		<when test="orderType == 'clubMemberLimitAsc'">club_member_limit asc</when>
		<when test="orderType == 'clubMemberLimitDesc'">club_member_limit desc</when>
	</choose>
	</select>
		<!-- 소모임 삭제 -->
	<delete id="deleteClub" parameterType="int">
		delete club where club_no = #{clubNo}
	</delete>
		<!-- 소모임 상세 조회 -->
	<select id="oneClub" resultType="clubDto" parameterType="int">
		select * from club where club_no = #{clubNo}
	</select>
		<!-- 소모임 정보 변경 -->
	<update id="changeClubInformation" parameterType="clubDto">
		update club 
			set
				club_name = #{clubName},
				club_leader = #{clubLeader}, 
				club_main_category = #{clubMainCategory}, club_sub_category = #{clubSubCategory},
				club_summary = #{clubSummary}, club_place = #{clubPlace},
				club_join_question1 = #{clubJoinQuestion1}, club_join_question2 = #{clubJoinQuestion2},
				club_join_question2 = #{clubJoinQuestion3}, club_member_limit = #{clubMemberLimit}
			where
				club_no = #{clubNo}
	</update>
</mapper>