<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubboard">
	<!-- 전체 목록 -->
	<select id="list" parameterType="int" resultType="clubBoardDto">
		select * from club_board where club_no = #{clubNo} order by club_board_like desc
	</select>
	<!-- 시퀀스 생성 -->
	<select id="sequence" resultType="int">
		select club_board_seq.nextval from dual
	</select>
	<!-- 게시글 등록 -->
	<insert id="insert" parameterType="clubBoardDto">
		insert into club_board (club_board_no, club_no, club_board_writer, club_board_content)
		values(#{clubBoardNo}, #{clubNo}, #{clubBoardWriter}, #{clubBoardContent})
	</insert>

	<!-- 삭제 -->
	<delete id="delete" parameterType="int">
		delete club_board where club_board_no = #{clubBoardNo}
	</delete>
	<!-- 수정 -->
	<update id="edit" parameterType="clubBoardDto">
		update club_board set club_board_content = #{clubBoardContent} where club_board_no = #{clubBoardNo}
	</update>
	<!--  댓글 카운트 -->
	<select id="calculateReplyCount" parameterType="int">
	  	update club_board
		set club_board_count = (
		select count(*) from club_board_reply where  club_board_no = #{clubBoardNo}
		)
		where club_board_no = #{clubBoardNo}
	</select>
	<!-- 좋아요 카운트 -->
	<update id="calculateLikeCount" parameterType="int">
			update club_board
			set club_board_like = (
			select count(*) from club_board_like where club_board_no = #{clubBoardNo}
			)
			where club_board_no = #{clubBoardNo}
	</update>
	<!-- 신고 카운트 -->
	<update id="calculateReportCount" parameterType="int">
	  	update club_board
		set club_board_reportcount = (
		select count(*) from club_board_report where club_report_target = #{clubBoardNo}
		)
		where club_board_no = #{clubBoardNo}
	</update>
	<select id="clubboardno" resultType="clubBoardDto" parameterType="int">
		select club_board_no from club_board where club_no = #{club_no}
	</select>
	<!-- 게시글 사진 정보 가져오기 -->
	<select id="getattachno" resultType="clubBoardAttachDto" parameterType="int">
		select * from club_board_attach where club_board_no = #{clubBoardNo}
	</select>
	<!-- 게시글 사진 삭제 -->
	<delete id="deleteattachno" parameterType="int">
		delete attachment where attach_no= #{attachNo}
	</delete>
	<resultMap type="ClubBoardListItemVO" id="clubBoardListItem">
		<association property="clubBoardDto">
			<result column="club_board_no" property="clubBoardNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="club_board_writer" property="clubBoardWriter"/>
			<result column="club_board_content" property="clubBoardContent"/>
			<result column="club_board_time" property="clubBoardTime"/>
 			<result column="club_board_count" property="clubBoardCount"/> 
 			<result column="club_board_like" property="clubBoardLike"/> 
 			<result column="club_board_readcount" property="clubBoardReadcount"/> 
		 	<result column="club_board_reportcount" property="clubBoardReportcount"/> 
		
		</association>
		
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_pw" property="memberPw"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
		</association>

		<association property="memberProfileDto">
			<result column="member_no" property="memberNo"/>
			<result column="프로필사진번호" property="attachNo"/>
		</association>
		
		<association property ="clubBoardReportDto">
			<result column="club_report_no" property="clubReportNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="club_report_target" property="clubReportTarget"/>
			<result column="club_report_writer" property="clubReportWriter"/>
			<result column="club_report_reporter" property="clubReportReporter"/>
			<result column="club_report_time" property="clubReportTime"/>
			<result column="club_report_category" property="clubReportCategory"/>
			<result column="club_report_content" property="clubReportContent"/>
		</association>
		<association property="animalPhotoDto">
			<result column="동물사진번호" property="attachNo"/>
			<result column="animal_no" property="animalNo"/>
		</association>
		<association property="mbtiAnimalDto">
			<result column="동물번호" property="animalNo"/>
			<result column="animal" property="animal"/>
			<result column="mbti" property="mbti"/>
		</association>
		<association property="clubBoardLikeDto">
			<result column="club_board_like_no" property="clubBoardLikeNo"/>
			<result column="like_member_no" property="likeMemberNo"/>
			<result column="club_board_no" property="clubBoardNo"/>
			<result column="like_check" property="likeCheck"/>
		</association>
		<collection javaType="java.util.List" ofType="ClubBoardAttachDto" property="attach" select="subListQuery1" column="club_board_no">
			<result column="club_board_no" property="clubBoardNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="게시글사진번호" property="attachNo"/>
		</collection>
		

	</resultMap>
	
	<select id="clubBoardTotalList" resultMap="clubBoardListItem" parameterType="Map">
   select
	   C.club_board_no,
	   C.club_board_count,
	   C.club_board_like,
       C.club_board_time, 
       C.club_board_content,
       C.club_no ,
       C.club_board_writer,
       C.club_board_readcount,
       C.club_board_reportcount,
       M.member_no ,
       M.member_animal ,
       M.member_birth,
       M.member_nick ,
       M.member_animal,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_mbti,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no  as 프로필사진번호,
       B.animal_no as 동물번호,
       A.attach_no as 동물사진번호,
	 L.like_member_no
from club_board C 
left outer join member M 
   on C.club_board_writer = M.member_no 
left outer join member_profile P 
   on C.club_board_writer = P.member_no
left outer join (select * from club_board_like where like_member_no = #{likeMemberNo}) L
   on C.club_board_No = L.club_board_no 
left outer join mbti_animal  B
    on M.member_mbti = B.mbti
left outer join animal_photo A
 on B.animal_no = A.animal_no
where C.club_no = #{clubNo} order by ${column} ${order}
	</select>
	<!-- 단일조회 restContoller-->
	<select id="oneRest" resultMap="clubBoardListItem" parameterType="Map">
				select
	   C.club_board_no,
	   C.club_board_count,
	   C.club_board_like,
       C.club_board_time, 
       C.club_board_content,
       C.club_no,
       C.club_board_writer,
       C.club_board_reportcount,
       M.member_animal,
       M.member_no ,
       M.member_nick,
       M.member_birth,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no  as 프로필사진번호,
       B.animal_no as 동물번호,
       A.attach_no as 동물사진번호,
       R.club_report_reporter
<!--        A.attach_no as 게시글사진번호 -->
<!--        R.club_report_reporter -->
<!--        L.club_board_like_no, -->
<!--        L.like_check, -->
<!--        L.like_member_no -->
from club_board C 
left outer join member M 
   on C.club_board_writer = M.member_no 
left outer join member_profile P 
   on C.club_board_writer = P.member_no
 left outer join (select * from club_board_report where club_report_reporter = #{memberNo})R
    on C.club_board_no = R. club_report_target
    left outer join mbti_animal  B
    on M.member_mbti = B.mbti
left outer join animal_photo A
 on B.animal_no = A.animal_no
<!-- left outer join club_report R -->
<!--    on C.club_board_no = R. club_report_target -->
<!-- left outer join club_board_like L -->
<!--    on C.club_board_No = L.club_board_no  -->
<!--  left outer join club_board_attach A  -->
<!--    on C.club_board_No = A.club_board_no  -->
where C.club_board_No = #{clubBoardNo} 
	</select>
		<!-- 단일조회 controller -->
	<select id="one" resultMap="clubBoardListItem">
				select
	   C.club_board_no,
	   C.club_board_count,
	   C.club_board_like,
       C.club_board_time, 
       C.club_board_content,
       C.club_no,
       C.club_board_writer,
       C.club_board_reportcount,
       M.member_animal,
       M.member_no ,
       M.member_nick,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no  as 프로필사진번호
<!--        A.attach_no as 게시글사진번호 -->
<!--        R.club_report_reporter -->
<!--        L.club_board_like_no, -->
<!--        L.like_check, -->
<!--        L.like_member_no -->
from club_board C 
left outer join member M 
   on C.club_board_writer = M.member_no 
left outer join member_profile P 
   on C.club_board_writer = P.member_no
<!-- left outer join club_report R -->
<!--    on C.club_board_no = R. club_report_target -->
<!-- left outer join club_board_like L -->
<!--    on C.club_board_No = L.club_board_no  -->
<!--  left outer join club_board_attach A  -->
<!--    on C.club_board_No = A.club_board_no  -->
where C.club_board_No = #{clubBoardNo} 
	</select>
	<select id="subListQuery1" resultType="clubBoardAttachDto" parameterType="int">
		select * from club_board_attach where club_board_no = #{clubBoardNo}
	</select>
<!-- 	<select id="subListQuery1" resultType="ClubboardAttachDto" parameterType="int"> -->
<!-- 		select * from club_board_attach where club_no = #{clubNo} -->
<!-- 	</select> -->

	<!-- 상세 조회 -->
	<select id="info" parameterType="int" resultType="clubBoardDto">
		select * from club_board where club_board_no = #{clubBoardNo}
	</select>
	<!-- 게시글 정렬 -->
	<select id="board-side" resultType="clubBoardDto" parameterType="Map"> 
	select * from (
    select rownum rn, TMP.* from (
     select * FROM (select * from club_board where club_board_time >= TO_CHAR(SYSDATE-7,'YYYYMMDD' )) where club_no = #{clubNo} order by 
	<choose>
		<when test="orderType == 'clubBoardLikeAsc'">club_board_like asc</when>
		<when test="orderType == 'clubBoardLikeDesc'">club_board_like desc</when>
		<when test="orderType == 'clubBoardCountAsc'">club_board_count asc</when>
		<when test="orderType == 'clubBoardCountDesc'">club_board_count desc</when>
		<when test="orderType == 'clubBoardNoAsc'">club_board_no asc</when>
		<when test="orderType == 'clubBoardNoDesc'">club_board_no desc</when>
		<when test="orderType == 'clubBoardReadcountAsc'">club_board_readcount asc</when>
		<when test="orderType == 'clubBoardReadcountDesc'">club_board_readcount desc</when>
	</choose>
	)
    TMP ) 
    where rn between  1 and 10
	</select>
		<!-- 조회수 증가 -->
	<update id="readcount" parameterType="int">
		update club_board
		set club_board_readcount = club_board_readcount+1
		where club_board_no = #{clubBoardNo}
	</update>
	<resultMap type="ClubMemberProfileVO" id="ClubMemberProfile">
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_pw" property="memberPw"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
		</association>

		<association property="memberProfileDto">
			<result column="member_no" property="memberNo"/>
			<result column="attach_no" property="attachNo"/>
		</association>
	</resultMap>
		<select id="memberprofile" resultMap="ClubMemberProfile">
		select
	   M.member_animal,
       M.member_no ,
       M.member_nick,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_birth,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no
       from member M 
left outer join member_profile P 
   on M.member_no = p.member_no 
   where M.member_no = #{memberNo} 
		</select>
</mapper>