<?xml version="1.0" encoding="UTF-8"?>
<!-- - mapper 파일은 특정 테이블에 대한 SQL 구문을 보관하는 파일이다. 
	- mybatis를 이용하는 개발자는 이곳에 저장된 SQL구문을 아이디를 이용해서 호출한다. 
	- 파일마다 동일한 아이디로 인해 발생하는 충돌을 방지하기 위한 고유한 namespace를 사용한다. 
	- 만약 namespace가 olympic이고 구문 아이디가 list라면 외부에서는 olympic.list로 호출한다. 
	- 일반적으로 namespace는 테이블명으로 한다. - mapper 내부에는 다음 종류 태그로 구문을 저장할 수 있다. 
		- <insert> 
		- <select> 
		- <update> 
		- <delete> 
	- 각 구문은 반드시 아이디를 가져야 한다. 
	- 각 구문에는 다음과 같은 속성을 작성할 수 있다. 
		- parameterType: 해당 구문이 실행되기 위해 필요한 데이터의 자료형을 적는다.(1개만 작성 가능) 
		- resultType: 해당 구문의 실행 결과를 변경하기 위한 자료형(1개만 작성 가능, 필수) 
	- 각 구문에는 데이터를 다음과 같이 바인딩 할 수 있다. 
		- 정적 바인딩 : ${이름} 형태로 작성하면 어떠한 추가 작업도 없이 해당 위치에 데이터가 그대로 작성된다
		- 동적 바인딩: #{이름} 형태로 작성하면 자동으로 자료형에 맞게 해당 데이터를 추출하여 작성해준다.(DTO변수명) -->
		
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club">
	
	<select id="list" resultType="ClubDto">
		select * from club order by club_no asc
	</select>
	
 	<select id="sequence" resultType="int">
		select club_seq.nextval from dual
	</select>
	
	<insert id="create" parameterType="ClubDto">
		insert into club(
			club_no, club_leader, club_name, club_summary, 
			club_main_category, club_sub_category, club_place
			<if test="clubJoinQuestion1 != null">
				, club_join_question1
			</if>
			<if test="clubJoinQuestion2 != null">
				, club_join_question2
			</if>
			<if test="clubJoinQuestion3 != null">
				, club_join_question3
			</if>
		)
		values(
			#{clubNo}, #{clubLeader}, #{clubName}, #{clubSummary}, 
			#{clubMainCategory}, #{clubSubCategory}, #{clubPlace}
			<if test="clubJoinQuestion1 != null">
				, #{clubJoinQuestion1}
			</if>
			<if test="clubJoinQuestion2 != null">
				, #{clubJoinQuestion2}
			</if>
			<if test="clubJoinQuestion3 != null">
				, #{clubJoinQuestion3}
			</if>
		)
	</insert>
	
	<select id="one" resultType="ClubDto" parameterType="int">
		select * from club where club_no = #{clubNo}
	</select> 
	
	<resultMap type="ClubDetailVO" id="clubDetailVO">
		<association property="clubMbtiPercent">
			<result column="club_no" property="clubNo"/>
			<result column="total" property="total"/>
			<result column="enfj" property="enfj"/>
			<result column="enfj_percent" property="enfjPercent"/>
			<result column="esfp" property="esfp"/>
			<result column="esfp_percent" property="esfpPercent"/>
			<result column="isfp" property="isfp"/>
			<result column="isfp_percent" property="isfpPercent"/>
			<result column="estp" property="estp"/>
			<result column="estp_percent" property="estpPercent"/>
			<result column="istp" property="istp"/>
			<result column="istp_percent" property="istpPercent"/>
			<result column="estj" property="estj"/>
			<result column="estj_percent" property="estjPercent"/>
			<result column="esfj" property="esfj"/>
			<result column="esfj_percent" property="esfjPercent"/>
			<result column="isfj" property="isfj"/>
			<result column="isfj_percent" property="isfjPercent"/>
			<result column="enfp" property="enfp"/>
			<result column="enfp_percent" property="enfpPercent"/>
			<result column="istj" property="istj"/>
			<result column="istj_percent" property="istjPercent"/>
			<result column="infp" property="infp"/>
			<result column="infp_percent" property="infpPercent"/>
			<result column="entp" property="entp"/>
			<result column="entp_percent" property="entpPercent"/>
			<result column="infj" property="infj"/>
			<result column="infj_percent" property="infjPercent"/>
			<result column="intj" property="intj"/>
			<result column="intj_percent" property="intjPercent"/>
			<result column="intp" property="intp"/>
			<result column="intp_percent" property="intpPercent"/>
			<result column="entj" property="entj"/>
			<result column="entj_percent" property="entjPercent"/>
		</association>
		
		<association property="clubDto">
			<result column="club_no" property="clubNo"/>
			<result column="club_leader" property="clubLeader"/>
			<result column="club_name" property="clubName"/>
			<result column="club_summary" property="clubSummary"/>
			<result column="club_main_category" property="clubMainCategory"/>
			<result column="club_sub_category" property="clubSubCategory"/>
			<result column="club_place" property="clubPlace"/>
			<result column="club_join_question1" property="clubJoinQuestion1"/>
			<result column="club_join_question2" property="clubJoinQuestion2"/>
			<result column="club_join_question3" property="clubJoinQuestion3"/>
			<result column="club_member_limit" property="clubMemberLimit"/>
		</association>
		<association property="clubLikeDto">
			<result column="club_like_no" property="clubLikeNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="member_no" property="memberNo"/>
		</association>
		<association property="clubProfileDto">
			<result column="attach_no" property="attachNo"/>
			<result column="club_no" property="clubNo"/>
		</association>
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_phone" property="memberPhone"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
		</association>
		<association property="memberProfileDto">
			<result column="member_no" property="memberNo"/>
			<result column="attach_no" property="attachNo"/>
		</association>
		
	</resultMap>
	
	<select id="clubDetail" resultMap="clubDetailVO">
	SELECT 
		cmp.*,
		c.*,
		cp.*,
		m.MEMBER_NO, 
		m.MEMBER_EMAIL, 
		m.MEMBER_NICK,
		m.MEMBER_GENDER,
		m.MEMBER_PHONE,
		m.MEMBER_BIRTH,
		m.MEMBER_NAME,
		m.MEMBER_MBTI,
		m.MEMBER_ANIMAL,
		m.MEMBER_INTEREST1,
		m.MEMBER_INTEREST2,
		m.MEMBER_INTEREST3,
		m.MEMBER_PLACE1,
		m.MEMBER_PLACE2,
		m.MEMBER_PLACE3,
		m.MEMBER_ADMIN,
		m.MEMBER_REPORT_COUNT,
		m.MEMBER_CLUB_COUNT,
		m.MEMBER_SNS_ID,
		m.MEMBER_LOGINDATE,
		mp.*
	FROM CLUB_MBTI_PERCENT cmp 
		LEFT OUTER JOIN club c ON cmp.CLUB_NO = c.CLUB_NO
		LEFT OUTER JOIN CLUB_PROFILE cp ON c.club_no = cp.CLUB_NO
		LEFT OUTER JOIN MEMBER m ON c.CLUB_LEADER = m.MEMBER_NO
		LEFT OUTER JOIN MEMBER_PROFILE mp ON m.MEMBER_NO = mp.MEMBER_NO
	WHERE c.CLUB_NO = #{clubNo}
	</select>
	
	<select id="like_sequence" resultType="int">
		select club_like_seq.nextval from dual
	</select>
	
	<insert id="like_club" parameterType="ClubLikeDto">
		insert into 
			club_like(
				club_no, member_no, club_like_no
			)
			values(
				#{clubNo}, #{memberNo}, #{clubLikeNo}
			)
	</insert>
	
	<!-- 이미 좋아요를 한 게시글인지 확인 -->
	<select id="exist_like" parameterType="ClubLikeDto" resultType="ClubLikeDto">
		select * from club_like where club_no = #{clubNo} and member_no = #{memberNo}
	</select>
	
	<delete id="like_cancel" parameterType="ClubLikeDto">
		delete club_like where club_no = #{clubNo} and member_no = #{memberNo}
	</delete>
	
</mapper>