<?xml version="1.0" encoding="UTF-8"?>
<!-- - mapper 파일은 특정 테이블에 대한 SQL 구문을 보관하는 파일이다. 
	- mybatis를 이용하는 개발자는 이곳에 저장된 SQL구문을 아이디를 이용해서 호출한다. 
	- 파일마다 동일한 아이디로 인해 발생하는 충돌을 방지하기 위한 고유한 namespace를 사용한다. 
	- 만약 namespace가 olympic이고 구문 아이디가 list라면 외부에서는 olympic.list로 호출한다. 
	- 일반적으로 namespace는 테이블명으로 한다. - mapper 내부에는 다음 종류 태그로 구문을 저장할 수 있다. 
		- <insert> 
		- <select> 
		- <update> 
		- <delete> 
	- 각 구문은 반드시 아이디를 가져야 한다. 
	- 각 구문에는 다음과 같은 속성을 작성할 수 있다. 
		- parameterType: 해당 구문이 실행되기 위해 필요한 데이터의 자료형을 적는다.(1개만 작성 가능) 
		- resultType: 해당 구문의 실행 결과를 변경하기 위한 자료형(1개만 작성 가능, 필수) 
	- 각 구문에는 데이터를 다음과 같이 바인딩 할 수 있다. 
		- 정적 바인딩 : ${이름} 형태로 작성하면 어떠한 추가 작업도 없이 해당 위치에 데이터가 그대로 작성된다
		- 동적 바인딩: #{이름} 형태로 작성하면 자동으로 자료형에 맞게 해당 데이터를 추출하여 작성해준다.(DTO변수명) -->
		
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubMember">

	<select id="sequence" resultType="int">
		select club_member_seq.nextval from dual
	</select>

	<insert id="insert" parameterType="ClubMemberDto">
		INSERT INTO club_member(
			club_member_no, club_no, member_no
			<if test="clubMemberGrade != null">
				, club_member_grade
			</if>
			<if test="clubMemberPermission != null">
				, club_member_permission
			</if>
			<if test="clubMemberAnswer1 != null">
				, club_member_answer1
			</if>
			<if test="clubMemberAnswer2 != null">
				, club_member_answer2
			</if>
			<if test="clubMemberAnswer3 != null">
				, club_member_answer3
			</if>
		)	
		values(
			#{clubMemberNo}, #{clubNo}, #{memberNo}
			<if test="clubMemberGrade != null">
				, #{clubMemberGrade}
			</if>
			<if test="clubMemberPermission != null">
				, #{clubMemberPermission}
			</if>
			<if test="clubMemberAnswer1 != null">
				, #{clubMemberAnswer1}
			</if>
			<if test="clubMemberAnswer2 != null">
				, #{clubMemberAnswer2}
			</if>
			<if test="clubMemberAnswer2 != null">
				, #{clubMemberAnswer2}
			</if>
		)	
	</insert>
	
	<select id="one" parameterType="Map" resultType="ClubMemberDto">
		select * from club_member where member_no = #{memberNo} and club_no = #{clubNo} and club_member_permission =1
	</select>
	
	<select id="list" parameterType="int" resultType="ClubMemberDto">
		select * from club_member where club_no = #{clubNo} order by club_member_no asc
	</select>
	
	<resultMap type="ClubMemberListVO" id="clubMemberListVO">
		<association property="clubMemberDto">
			<result column="club_member_no" property="clubMemberNo"/>			
			<result column="club_no" property="clubNo"/>			
			<result column="member_no" property="memberNo"/>			
			<result column="club_member_date" property="clubMemberDate"/>			
			<result column="club_member_grade" property="clubMemberGrade"/>			
			<result column="club_member_answer1" property="clubMemberAnswer1"/>			
			<result column="club_member_answer2" property="clubMemberAnswer2"/>			
			<result column="club_member_answer3" property="clubMemberAnswer3"/>			
			<result column="club_member_permission" property="clubMemberPermission"/>			
			<result column="club_member_refuse_msg" property="clubMemberRefuseMsg"/>			
		</association>

		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_phone" property="memberPhone"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
		</association>
	</resultMap>
	
	<select id="clubMemberList" resultMap="clubMemberListVO">
		SELECT 
			cm.*,
			m.MEMBER_GENDER,
			m.MEMBER_MBTI,
			m.MEMBER_ANIMAL,
			m.MEMBER_INTEREST1,
			m.MEMBER_INTEREST2,
			m.MEMBER_INTEREST3,
			m.MEMBER_PLACE1,
			m.MEMBER_PLACE2,
			m.MEMBER_PLACE3,
			m.MEMBER_SNS_ID,
			m.MEMBER_NICK,
			m.MEMBER_BIRTH 
		FROM 
			club_member cm 
		LEFT OUTER JOIN MEMBER m 
		ON cm.MEMBER_NO = m.MEMBER_NO 
		WHERE club_no = #{clubNo}
	</select>
	
	<!-- 소모임 가입 승인 -->
	<update id="approve" parameterType="int">
		update 
			club_member
		set
			club_member_permission = 1
		where 
			club_member_no = #{clubMemberNo}
	</update>
	
	<!-- 소모임 가입 거절 -->
	<update id="refuse" parameterType="ClubMemberDto">
		update 
			club_member
		set
			club_member_permission = 2, 
			club_member_refuse_msg = #{clubMemberRefuseMsg}
		where 
			club_member_no = #{clubMemberNo}
	</update>
	
</mapper>