<?xml version="1.0" encoding="UTF-8"?>
<!-- - mapper 파일은 특정 테이블에 대한 SQL 구문을 보관하는 파일이다. 
	- mybatis를 이용하는 개발자는 이곳에 저장된 SQL구문을 아이디를 이용해서 호출한다. 
	- 파일마다 동일한 아이디로 인해 발생하는 충돌을 방지하기 위한 고유한 namespace를 사용한다. 
	- 만약 namespace가 olympic이고 구문 아이디가 list라면 외부에서는 olympic.list로 호출한다. 
	- 일반적으로 namespace는 테이블명으로 한다. - mapper 내부에는 다음 종류 태그로 구문을 저장할 수 있다. 
		- <insert> 
		- <select> 
		- <update> 
		- <delete> 
	- 각 구문은 반드시 아이디를 가져야 한다. 
	- 각 구문에는 다음과 같은 속성을 작성할 수 있다. 
		- parameterType: 해당 구문이 실행되기 위해 필요한 데이터의 자료형을 적는다.(1개만 작성 가능) 
		- resultType: 해당 구문의 실행 결과를 변경하기 위한 자료형(1개만 작성 가능, 필수) 
	- 각 구문에는 데이터를 다음과 같이 바인딩 할 수 있다. 
		- 정적 바인딩 : ${이름} 형태로 작성하면 어떠한 추가 작업도 없이 해당 위치에 데이터가 그대로 작성된다
		- 동적 바인딩: #{이름} 형태로 작성하면 자동으로 자료형에 맞게 해당 데이터를 추출하여 작성해준다.(DTO변수명) -->
		
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubboardreply">
	<select id="sequence" resultType="int">
		select club_board_reply_seq.nextval from dual
	</select>
	<insert id="insert" parameterType="clubboardreplyDto">
		insert into club_board_reply(reply_no, club_reply_content, club_reply_time, club_board_no, club_reply_writer, club_no)
		values(#{replyNo}, #{clubReplyContent}, sysdate, #{clubBoardNo}, #{clubReplyWriter}, #{clubNo})
	</insert>
	<select id="one" resultType="clubboardreplyDto" parameterType="int">
		select * from club_board_reply where reply_no = #{replyNo}
	</select>
	
	<select id="list" resultType="clubboardreplyDto" parameterType="int">
		select * from club_board_reply where club_board_no = #{clubBoardNo} 
		order by reply_no desc
	</select>
	<delete id="delete" parameterType="int">
		delete club_board_reply where reply_no = #{replyNo}
	</delete>
	<update id="edit" parameterType="clubboardreplyDto">
		update club_board_reply set club_reply_content = #{clubReplyContent} where reply_no = #{replyNo}
	</update>
	<update id="calculateReplyCount" parameterType="int">
		update club_board
		set club_board_count = (
		select count(*) from club_board_reply where club_board_no =#{clubBoardNo}
		)
		where club_board_no = #{clubBoardNo}
	</update>
	
	<resultMap type="ClubBoardReplyListVO" id="clubBoardReplyItems">
		<association property="clubBoardReplyDto">
			<result column="club_board_no" property="clubBoardNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="reply_no" property="replyNo"/>
			<result column="club_reply_writer" property="clubReplyWriter"/>
			<result column="club_reply_content" property="clubReplyContent"/>
			<result column="club_reply_time" property="clubReplyTime"/>
			<result column="club_reply_like" property="clubReplyLike"/>
		</association>

	
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_pw" property="memberPw"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
		</association>
		<association property="clubReplyLikeDto">
			<result column="club_reply_like_no" property="clubReplyLikeNo"/>
			<result column="member_no" property="memberNo"/>
			<result column="reply_no" property="replyNo"/>
			<result column="like_check" property="likeCheck"/>
		</association>
		<association property="memberProfileDto">
			<result column="member_no" property="memberNo"/>
			<result column="attach_no" property="attachNo"/>
		</association>
		
	</resultMap>
		<select id="clubReplyTotalList" resultMap="clubBoardReplyItems">
<!-- 	join된 구문 작성  -->
		select
	   C.club_board_no,
	   C.club_reply_like,
       C.club_reply_time, 
       C.club_reply_content,
       C.club_no,
       C.reply_no,
       C.club_reply_writer,
       M.member_no,
       M.member_animal,
       M.member_nick,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no  as 프로필사진번호,
       L.club_reply_like_no,
       L.like_check
from club_board_reply C 
left outer join member M 
   on C.club_reply_writer = M.member_no 
left outer join member_profile P 
   on C.club_reply_writer = P.member_no
left outer join club_reply_like L
   on C.reply_no = L.reply_no
where C.club_board_no =#{clubBoardNo} order by C.reply_no desc
	</select>
</mapper>