<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clubboardreply">
	<select id="sequence" resultType="int">
		select club_board_reply_seq.nextval from dual
	</select>
	<insert id="insert" parameterType="clubboardreplyDto">
		insert into club_board_reply(reply_no, club_reply_content, club_reply_time, club_board_no, club_reply_writer, club_no)
		values(#{replyNo}, #{clubReplyContent}, sysdate, #{clubBoardNo}, #{clubReplyWriter}, #{clubNo})
	</insert>
	<select id="list" resultType="clubboardreplyDto" parameterType="int">
		select * from club_board_reply where club_board_no = #{clubBoardNo} 
		order by reply_no desc
	</select>
	<select id="info" parameterType="int" resultType="clubboardreplyDto">
		select * from club_board_reply where reply_no = #{replyNo}
	</select>
	<delete id="delete" parameterType="int">
		delete club_board_reply where reply_no = #{replyNo}
	</delete>
	<update id="edit" parameterType="clubboardreplyDto">
		update club_board_reply set club_reply_content = #{clubReplyContent} where reply_no = #{replyNo}
	</update>
	<!-- 댓글 카운트 -->
	<update id="calculateReplyCount" parameterType="int">
		update club_board
		set club_board_count = (
		select count(*) from club_board_reply where club_board_no =#{clubBoardNo}
		)
		where club_board_no = #{clubBoardNo}
	</update>
	<!-- 신고 카운트 -->
	<update id="calculateReportCount" parameterType="int">
	  	update club_board_reply
		set club_reply_reportcount = (
		select count(*) from club_reply_report where club_report_target = #{replyNo}
		)
		where reply_no = #{replyNo}
	</update>
	<!-- 좋아요 카운트 -->
	<update id="calculateLikeCount" parameterType="int">
	  	update club_board_reply
		set club_reply_like = (
		select count(*) from club_reply_like where reply_no = #{replyNo}
		)
		where reply_no = #{replyNo}
	</update>
	<resultMap type="ClubBoardReplyListVO" id="clubBoardReplyItems">
		<association property="clubBoardReplyDto">
			<result column="club_board_no" property="clubBoardNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="reply_no" property="replyNo"/>
			<result column="club_reply_writer" property="clubReplyWriter"/>
			<result column="club_reply_content" property="clubReplyContent"/>
			<result column="club_reply_time" property="clubReplyTime"/>
			<result column="club_reply_like" property="clubReplyLike"/>
			<result column="club_reply_reportcount" property="clubReplyReportcount"/>
		
		</association>

	
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_pw" property="memberPw"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
		</association>
		<association property="clubReplyLikeDto">
			<result column="club_reply_like_no" property="clubReplyLikeNo"/>
			<result column="like_member_no" property="likeMemberNo"/>
			<result column="reply_no" property="replyNo"/>
			<result column="like_check" property="likeCheck"/>
		</association>
		<association property="memberProfileDto">
			<result column="member_no" property="memberNo"/>
			<result column="attach_no" property="attachNo"/>
		</association>
		<association property="blockedDto">
			<result column="blocked_no" property="blockedNo"/>
			<result column="blocked_target" property="blockedTarget"/>
			<result column="blocked_user" property="blockedUser"/>
		</association>
		<association property="animalPhotoDto">
			<result column="동물사진번호" property="attachNo"/>
			<result column="animal_no" property="animalNo"/>
		</association>
		<association property="mbtiAnimalDto">
			<result column="동물번호" property="animalNo"/>
			<result column="animal" property="animal"/>
			<result column="mbti" property="mbti"/>
		</association>
		<association property ="clubReplyReportDto">
			<result column="club_report_no" property="clubReportNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="club_report_target" property="clubReportTarget"/>
			<result column="club_report_writer" property="clubReportWriter"/>
			<result column="club_report_reporter" property="clubReportReporter"/>
			<result column="club_report_time" property="clubReportTime"/>
			<result column="club_report_category" property="clubReportCategory"/>
			<result column="club_report_content" property="clubReportContent"/>
		</association>
		
	</resultMap>
		<select id="clubReplyTotalList" resultMap="clubBoardReplyItems" parameterType="Map">
<!-- 	join된 구문 작성  -->
		select
	   C.club_board_no,
	   C.club_reply_like,
       C.club_reply_time, 
       C.club_reply_content,
       C.club_no,
       C.reply_no,
       C.club_reply_writer,
       C.club_reply_reportcount,
       M.member_no,
       M.member_animal,
       M.member_nick,
       M.member_interest1,
       M.member_interest2,
       M.member_interest3,
       M.member_gender,
       M.member_place1,
       M.member_place2,
       M.member_place3,
       M.member_sns_id,
       M.member_logindate,
       P.attach_no  as 프로필사진번호,
       B.animal_no as 동물번호,
       A.attach_no as 동물사진번호,
       L.club_reply_like_no,
       L.like_check,
       L.like_member_no,
       R.club_report_reporter
from club_board_reply C 
left outer join member M 
   on C.club_reply_writer = M.member_no 
left outer join member_profile P 
   on C.club_reply_writer = P.member_no
left outer join (select * from club_reply_like where like_member_no = #{likeMemberNo} ) L
   on C.reply_no = L.reply_no
left outer join (select * from club_reply_report where club_report_reporter = #{likeMemberNo}) R
   on C.reply_no = R.club_report_target
left outer join mbti_animal  B
    on M.member_mbti = B.mbti
left outer join animal_photo A
 on B.animal_no = A.animal_no
left outer join (select * from blocked where blocked_user = #{likeMemberNo})K
  on C.club_reply_writer = K.blocked_target
where club_reply_writer not in (select blocked_target from blocked where blocked_user =#{likeMemberNo})
 and club_reply_writer not in (select blocked_user from blocked where blocked_target = #{likeMemberNo})
and C.club_board_no = #{clubBoardNo} order by C.reply_no desc
	</select>
<select id="one" resultMap="clubBoardReplyItems" parameterType="int">
		   select 
        R.*,
		M.*
		from 
		club_board_reply R
		left outer join Member M
		on R.club_reply_writer = M.member_no
		where reply_no = #{replyNo}
</select>
	<select id="boardlist" resultType="clubBoardReplyDto" parameterType="int">
		        select * from club_board_reply where club_board_no = #{clubBoardNo}
	</select>
</mapper>