<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="sequence" resultType="int">
		select member_seq.nextval from dual
	</select>

	<insert id="join" parameterType="MemberDto">
		insert into member(
			member_no,
			member_email, member_pw, member_nick,
			member_name, member_gender, member_birth,
			member_phone, member_mbti, member_animal, 
			member_interest1, member_interest2, member_interest3,
			member_place1, member_place2, member_place3
		)
		values(
			#{memberNo},
			#{memberEmail}, #{memberPw}, #{memberNick}, 
			#{memberName}, #{memberGender}, #{memberBirth}, 
			#{memberPhone}, #{memberMbti}, #{memberAnimal}, 
			#{memberInterest1}, #{memberInterest2}, #{memberInterest3}, 
			#{memberPlace1}, #{memberPlace2}, #{memberPlace3}
		)
	</insert>
	
	<!-- 단일조회 -->
	<select id="one" resultType="MemberDto" parameterType="String">
		select * from member where member_email = #{memberEmail}
	</select>
	
	<!-- 로그인 시간 갱신 -->
	<update id="updateLastLogin" parameterType="String">
		update member 
		set member_logindate = sysdate 
		where member_email = #{memberEmail}
	</update>
	
	<!-- 이메일 찾기 -->
	<select id="findEmail" resultType="String" parameterType="MemberDto">
		select member_email from member 
		where 
			member_name = #{memberName}
			and
			member_Phone = #{memberPhone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="find" resultType="MemberDto" parameterType="MemberDto">
		select * from member
		where
			member_name = #{memberName}
			and
			member_phone = #{memberPhone}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePassword" parameterType="MemberDto">
		update member
		set member_pw = #{memberPw}
		where member_email = #{memberEmail}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="exit" parameterType="String">
		delete member where member_email = #{memberEmail}
	</delete>
	
	<!--  회원 전체 조회 -->
	 <select id="list" resultType="MemberDto">
 		select * from member order by member_no
 	</select>
 	
 	<!-- 정보 변경 -->
	<update id="changeInformation" parameterType="MemberDto">
		update member 
			set
				member_name = #{memberName}, member_email = #{memberEmail},
				member_pw = #{memberPw}, member_Nick = #{memberNick},
				member_gender = #{memberGender}, member_phone = #{memberPhone},
				member_sns_id = #{memberSnsId}, member_interest1 = #{memberInterest1},
				member_interest2 = #{memberInterest2}, member_interest3 = #{memberInterest3},
				member_place1 = #{memberPlace1}, member_place2 = #{memberPlace2}, member_place3 = #{memberPlace3}
			where
				member_email = #{memberEmail}
	</update>
	
	<!-- 소모임 생성 여부 확인용 -->
 	<select id="existClub" resultType="MemberDto" parameterType="int">
 		select * from member where member_no = #{memberNo}
 	</select>
 	<!-- 소모임 생성시 횟수 차감 -->
 	<update id="minusClubCount" parameterType="int">
 		update member set member_club_count = member_club_count - 1 where member_no  = #{memberNo}
 	</update>
	
</mapper> 