<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<select id="sequence" resultType="int">
		select member_seq.nextval from dual
	</select>

	<insert id="join" parameterType="MemberDto">
		insert into member(
			member_no,
			member_email, member_pw, member_nick,
			member_name, member_gender, member_birth,
			member_phone, member_mbti, member_animal, 
			member_interest1, member_interest2, member_interest3,
			member_place1, member_place2, member_place3
		)
		values(
			#{memberNo},
			#{memberEmail}, #{memberPw}, #{memberNick}, 
			#{memberName}, #{memberGender}, #{memberBirth}, 
			#{memberPhone}, #{memberMbti}, #{memberAnimal}, 
			#{memberInterest1}, #{memberInterest2}, #{memberInterest3}, 
			#{memberPlace1}, #{memberPlace2}, #{memberPlace3}
		)
	</insert>
	
	<select id="existEmail" parameterType="String" resultType="MemberDto">
		select * from member where member_email = #{memberEmail}
	</select>
	
	<!-- 단일조회 -->
	<select id="one" resultType="MemberDto" parameterType="int">
		select * from member where member_No = #{memberNo}
	</select>
	
	<!-- 로그인 시간 갱신 -->
	<update id="updateLastLogin" parameterType="String">
		update member 
		set member_logindate = sysdate 
		where member_email = #{memberEmail}
	</update>
	
	<!-- 이메일 찾기 -->
	<select id="findEmail" resultType="String" parameterType="MemberDto">
		select member_email from member 
		where 
			member_name = #{memberName}
			and
			member_Phone = #{memberPhone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="find" resultType="MemberDto" parameterType="MemberDto">
		select * from member
		where
			member_name = #{memberName}
			and
			member_phone = #{memberPhone}
	</select>
	
	<!-- 비밀번호 변경 -->
	<update id="changePassword" parameterType="MemberDto">
		update member
		set member_pw = #{memberPw}
		where member_email = #{memberEmail}
	</update>
	
	<!-- 회원 탈퇴 -->
	<delete id="exit" parameterType="String">
		delete member where member_email = #{memberEmail}
	</delete>
	
	<!--  회원 전체 조회 -->
	 <select id="list" resultType="MemberDto">
 		select * from member order by member_no
 	</select>
 	
 	<!-- 정보 변경 -->
	<update id="changeInformation" parameterType="MemberDto">
		update member 
			<set>
				<if test="memberName != null">
					, member_name = #{memberName}
				</if>
				<if test="memberEmail != null">
					, member_email = #{memberEmail}
				</if>
				<if test="memberPw != null">
					, member_pw = #{memberPw}
				</if>
				<if test="memberNick != null">
					, member_Nick = #{memberNick}
				</if>
				<if test="memberGender != null">
					, member_gender = #{memberGender} 
				</if>
				<if test="memberPhone != null">
					, member_phone = #{memberPhone}
				</if>
				<if test="memberSnsId != null">
					, member_sns_id = #{memberSnsId}
				</if>
				<if test="memberInterest1 != null">
					, member_interest1 = #{memberInterest1}
				</if>
				<if test="memberInterest2 != null">
					, member_interest2 = #{memberInterest2}
				</if>
				<if test="memberInterest3 != null">
					, member_interest3 = #{memberInterest3}
				</if>
				<if test="memberMbti != null">
					, member_mbti = #{memberMbti}
				</if>
				<if test="memberAnimal != null">
					, member_animal = #{memberAnimal}
				</if>
				<if test="memberPlace1 != null">
					, member_place1 = #{memberPlace1}
				</if>
				<if test="memberPlace2 != null">
					, member_place2 = #{memberPlace2}
				</if>
				<if test="memberPlace3 != null">
					, member_place3 = #{memberPlace3}
				</if>
			</set>
			where
				member_no = #{memberNo}
	</update>
	
	<!-- 소모임 생성 여부 확인용 -->
 	<select id="existClub" resultType="MemberDto" parameterType="int">
 		select * from member where member_no = #{memberNo}
 	</select>
 	<!-- 소모임 생성시 횟수 차감 -->
 	<update id="minusClubCount" parameterType="int">
 		update member set member_club_count = member_club_count - 1 where member_no  = #{memberNo}
 	</update>
 	
 	<!-- 회원 마이페이지 정보 -->
 	<resultMap type="MemberDetailVO" id="memberDetailVO">
 		
 		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_phone" property="memberPhone"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
		</association>
		
		<association property="memberProfileDto">
			<result column="member_no2" property="memberNo"/>
			<result column="attach_no2" property="attachNo"/>
		</association>
		
		<association property="clubDto">
			<result column="club_no" property="clubNo"/>
			<result column="club_leader" property="clubLeader"/>
			<result column="club_name" property="clubName"/>
			<result column="club_summary" property="clubSummary"/>
			<result column="club_main_category" property="clubMainCategory"/>
			<result column="club_sub_category" property="clubSubCategory"/>
			<result column="club_place" property="clubPlace"/>
			<result column="club_join_question1" property="clubJoinQuestion1"/>
			<result column="club_join_question2" property="clubJoinQuestion2"/>
			<result column="club_join_question3" property="clubJoinQuestion3"/>
			<result column="club_member_limit" property="clubMemberLimit"/>
			
			<result column="club_member_count" property="clubMemberCount"/>		
		</association>
		
		<association property="clubLikeDto">
			<result column="club_like_no" property="clubLikeNo"/>
			<result column="club_no" property="clubNo"/>
			<result column="member_no" property="memberNo"/>
		</association>
		
		<association property="clubMemberDto">
			<result column="club_member_no" property="clubMemberNo"/>			
			<result column="club_no" property="clubNo"/>			
			<result column="member_no" property="memberNo"/>			
			<result column="club_member_date" property="clubMemberDate"/>			
			<result column="club_member_grade" property="clubMemberGrade"/>			
			<result column="club_member_answer1" property="clubMemberAnswer1"/>			
			<result column="club_member_answer2" property="clubMemberAnswer2"/>			
			<result column="club_member_answer3" property="clubMemberAnswer3"/>			
			<result column="club_member_permission" property="clubMemberPermission"/>			
			<result column="club_member_refuse_msg" property="clubMemberRefuseMsg"/>	
		</association>
		
		<association property="mbtiBoardDto">
			<result column="mbti_board_no" property="mbtiBoardNo"/>
			<result column="member_no5" property="memberNo"/>
			<result column="mbti_board_title" property="mbtiBoardTitle"/>
			<result column="mbti_board_time" property="mbtiBoardTime"/>
			<result column="mbti_board_reply_count" property="mbtiBoardReplyCount"/>
			
			<result column="like_count2" property="likeCount"/>
		</association>
		
		<association property="mbtiBoardLikeDto">
			<result column="member_no6" property="memberNo"/>
			<result column="mbti_board_no2" property="mbtiBoardNo"/>
			<result column="it_like" property="itLike"/>
		</association>
		
		<association property="mbtiBoardVoteDto">
			<result column="member_no7" property="memberNo"/>
			<result column="mbti_board_no3" property="mbtiBoardNo"/>
			<result column="vote_choice" property="voteChoice"/>
			<result column="vote_choice_no" property="voteChoiceNo"/>
		</association>
 		
 	</resultMap>

	<select id="mypageMember" resultMap="memberDetailVO">
		SELECT 
			m.MEMBER_NO, 
			m.MEMBER_EMAIL, 
			m.MEMBER_NICK,
			m.MEMBER_GENDER,
			m.MEMBER_PHONE,
			m.MEMBER_BIRTH,
			m.MEMBER_NAME,
			m.MEMBER_MBTI,
			m.MEMBER_ANIMAL,
			m.MEMBER_INTEREST1,
			m.MEMBER_INTEREST2,
			m.MEMBER_INTEREST3,
			m.MEMBER_PLACE1,
			m.MEMBER_PLACE2,
			m.MEMBER_PLACE3,
			m.MEMBER_ADMIN,
			m.MEMBER_REPORT_COUNT,
			m.MEMBER_CLUB_COUNT,
			m.MEMBER_SNS_ID,
			m.MEMBER_LOGINDATE,
			mp.MEMBER_NO member_no2,
			mp.ATTACH_NO attach_no2
		FROM MEMBER m
		LEFT OUTER JOIN MEMBER_PROFILE mp 
			ON m.MEMBER_NO = mp.MEMBER_NO 
		WHERE m.member_no = #{memberNo}
	</select>
	<!-- 차단 시퀀스 -->
	<select id="blockedsequence" resultType="int">
		select blocked_seq.nextval from dual
	</select>
	<!-- 차단 -->
	<insert id="blocktarget" parameterType="blockedDto">
		insert into blocked (blocked_no, blocked_target, blocked_user)
		values (#{blockedNo}, #{blockedTarget}, #{blockedUser})
	</insert>
	
	<select id="mypageClub" resultMap="memberDetailVO">
		SELECT 
			m.MEMBER_NO, 
			m.MEMBER_EMAIL, 
			m.MEMBER_NICK,
			m.MEMBER_GENDER,
			m.MEMBER_PHONE,
			m.MEMBER_BIRTH,
			m.MEMBER_NAME,
			m.MEMBER_MBTI,
			m.MEMBER_ANIMAL,
			m.MEMBER_INTEREST1,
			m.MEMBER_INTEREST2,
			m.MEMBER_INTEREST3,
			m.MEMBER_PLACE1,
			m.MEMBER_PLACE2,
			m.MEMBER_PLACE3,
			m.MEMBER_ADMIN,
			m.MEMBER_REPORT_COUNT,
			m.MEMBER_CLUB_COUNT,
			m.MEMBER_SNS_ID,
			m.MEMBER_LOGINDATE,
			cm.*,
			c.*,
			cl.*,
			cc.*
		FROM MEMBER m
		LEFT OUTER JOIN CLUB_MEMBER cm 
			ON m.member_no = cm.MEMBER_NO
		LEFT OUTER JOIN club c 
			ON cm.CLUB_NO = c.CLUB_NO 
		LEFT OUTER JOIN club_like cl 
			ON m.MEMBER_NO = cl.MEMBER_NO AND cm.CLUB_NO = cl.CLUB_NO  
		LEFT OUTER JOIN (SELECT cm.club_no, count(*) club_member_count FROM CLUB_MEMBER cm WHERE club_member_permission = 1 GROUP BY club_no) cc 
			ON c.CLUB_NO = cc.club_no
		WHERE m.MEMBER_NO = #{memberNo}
		ORDER BY cl.CLUB_LIKE_NO DESC, cm.CLUB_MEMBER_NO DESC
	</select>
	
	<select id="mypageMbti" resultMap="memberDetailVO">
		SELECT 
			m.MEMBER_NO, 
			m.MEMBER_EMAIL, 
			m.MEMBER_NICK,
			m.MEMBER_GENDER,
			m.MEMBER_PHONE,
			m.MEMBER_BIRTH,
			m.MEMBER_NAME,
			m.MEMBER_MBTI,
			m.MEMBER_ANIMAL,
			m.MEMBER_INTEREST1,
			m.MEMBER_INTEREST2,
			m.MEMBER_INTEREST3,
			m.MEMBER_PLACE1,
			m.MEMBER_PLACE2,
			m.MEMBER_PLACE3,
			m.MEMBER_ADMIN,
			m.MEMBER_REPORT_COUNT,
			m.MEMBER_CLUB_COUNT,
			m.MEMBER_SNS_ID,
			m.MEMBER_LOGINDATE,
			mb.MEMBER_NO member_no5,
			mb.MBTI_BOARD_NO,
			mb.MBTI_BOARD_TITLE,
			mb.MBTI_BOARD_TIME,
			mbl.MBTI_BOARD_NO mbti_board_no2,
			mbl.MEMBER_NO member_no6,
			mbv.MBTI_BOARD_NO mbti_board_no3,
			mbv.MEMBER_NO member_no7,
			mbv.VOTE_CHOICE_NO,
			count(mbl2.MBTI_BOARD_NO) like_count2
		FROM MEMBER m
		LEFT OUTER JOIN MBTI_BOARD mb ON m.MEMBER_NO = mb.MEMBER_NO
		LEFT OUTER JOIN MBTI_BOARD_LIKE mbl ON m.MEMBER_NO = mbl.MEMBER_NO AND mb.MBTI_BOARD_NO = mbl.MBTI_BOARD_NO
		LEFT OUTER JOIN MBTI_BOARD_VOTE mbv ON m.MEMBER_NO = mbv.MEMBER_NO AND mb.MBTI_BOARD_NO = mbv.MBTI_BOARD_NO 
		LEFT OUTER JOIN MBTI_BOARD_LIKE mbl2 ON mb.MBTI_BOARD_NO = mbl2.MBTI_BOARD_NO 
		WHERE m.MEMBER_NO = #{memberNo}
		GROUP BY
			m.MEMBER_NO, 
			m.MEMBER_EMAIL, 
			m.MEMBER_NICK,
			m.MEMBER_GENDER,
			m.MEMBER_PHONE,
			m.MEMBER_BIRTH,
			m.MEMBER_NAME,
			m.MEMBER_MBTI,
			m.MEMBER_ANIMAL,
			m.MEMBER_INTEREST1,
			m.MEMBER_INTEREST2,
			m.MEMBER_INTEREST3,
			m.MEMBER_PLACE1,
			m.MEMBER_PLACE2,
			m.MEMBER_PLACE3,
			m.MEMBER_ADMIN,
			m.MEMBER_REPORT_COUNT,
			m.MEMBER_CLUB_COUNT,
			m.MEMBER_SNS_ID,
			m.MEMBER_LOGINDATE,
			mb.MEMBER_NO,
			mb.MBTI_BOARD_NO,
			mb.MBTI_BOARD_TITLE,
			mb.MBTI_BOARD_TIME,
			mbl.MBTI_BOARD_NO,
			mbl.MEMBER_NO,
			mbv.MBTI_BOARD_NO,
			mbv.MEMBER_NO,
			mbv.VOTE_CHOICE_NO
		ORDER BY mbv.vote_choice_no DESC, mb.MBTI_BOARD_NO ASC
	</select>
	
	<update id="mypageInterest" parameterType="MemberDto">
		update 
			member
		set
			member_interest1 = #{memberInterest1}
			<if test="memberInterest2 != null">
				, member_interest2 = #{memberInterest2}
			</if>
			<if test="memberInterest3 != null">
				, member_interest3 = #{memberInterest3}
			</if>
		where 
			member_no = #{memberNo}
	</update>
	
	
	<resultMap type="BlockedVO" id="blockedVOlist">
		<association property="memberDto">
			<result column="member_no" property="memberNo"/>
			<result column="member_email" property="memberEmail"/>
			<result column="member_pw" property="memberPw"/>
			<result column="member_nick" property="memberNick"/>
			<result column="member_gender" property="memberGender"/>
			<result column="member_mbti" property="memberMbti"/>
			<result column="member_animal" property="memberAnimal"/>
			<result column="member_interest1" property="memberInterest1"/>
			<result column="member_interest2" property="memberInterest2"/>
			<result column="member_interest3" property="memberInterest3"/>
			<result column="member_place1" property="memberPlace1"/>
			<result column="member_place2" property="memberPlace2"/>
			<result column="member_place3" property="memberPlace3"/>
			<result column="member_admin" property="memberAdmin"/>
			<result column="member_report_count" property="memberReportCount"/>
			<result column="member_club_count" property="memberClubCount"/>
			<result column="member_sns_id" property="memberSnsId"/>
			<result column="member_logindate" property="memberLogindate"/>
			<result column="member_birth" property="memberBirth"/>
			<result column="member_name" property="memberName"/>
		</association>
			<association property ="blockedDto">
			<result column="blocked_no" property="blockedNo"/>
			<result column="blocked_target" property="blockedTarget"/>
			<result column="blocked_user" property="blockedUser"/>
		</association>
	</resultMap>
	<!-- 조회 -->
	<select id="blockedlist" resultMap="blockedVOlist" parameterType="int">
		select 
		B.*,
        Y.member_nick
		from 
		Blocked B
		left outer join Member Y
		on B. blocked_target = Y.member_no
        left outer join Member M
        on B.blocked_user = M.member_no
        where M.member_no = #{blockedUser}
        order by blocked_no
	</select>
	<!-- 단일조회 -->
	<select id="blockedtargetinfo" resultMap="blockedVOlist" parameterType="int">
		select 
		*
		from 
		Blocked B
		left outer join Member Y
		on B. blocked_target = Y.member_no
        where B.blocked_no = #{blockedNo}
	</select>
	<!-- 차단해제 -->
	<delete id="deleteblocktarget" parameterType="int">
	delete blocked where blocked_no = #{blockedNo}
	</delete>
	<!-- 확인용 -->
	<select id="info" resultType="blockedDto" parameterType="int">
		select * from blocked where blocked_no = #{blockedNo}
	</select>
</mapper> 