* {
    font-family: 'Noto Sans KR', sans-serif;
}




.nav-link:hover {
    color: #3E4684;
    transform: scale(1.05);
}

.logo-item {
    margin: 0 0.5em;
}

.nav-item {
    margin: 0 0.2em;

}

  .list-group-item{
      cursor: pointer;
  }
  .list-group-item:hover {
      background-color: #f3dba5;
      border:none;
  }
.interest {
	
	background-color : #e8e9ea;
	padding : 0.2em;
	border-radius : 0.5em;
	font-size: 12px;
	margin : 0.1em;
	
}

.btn-outline-success {
    background-color: #3E4684;
    border: 1px solid #3E4684;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 24px;
    font-size: 15px;

}

.btn-edit {
	border: 1px solid #3E4684;
	background-color: white;
	color: #3E4684 !important;
	padding-left: 1em;
	padding-right: 1em;
	border-radius: 24px;
	font-size: 15px;
}

.btn-edit:hover {
	transform: scale(1.05);
	background-color: white;
	border: 1px solid #3E4684;
	color: #3E4684 !important;
}


.btn-outline-success:hover {
    transform: scale(1.05);
    background-color: #3E4684;
    border: none;
    color: white;
}

.search-icon {
    position: relative;
    left: 2em;
    top: 0.8em;
    color: #9aa0a6;

}
.innerBox  {
	border : none;
	width: 300px;
    height: 40px;
    border-radius: 2em !important;
	position : absolute !important;
	right: 0px;
	top: 50px;
	padding-right : 30px;

}

.input-box {
    width: 200px;
    height: 40px;
    border-radius: 24px;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    position : relative !important;
}


header {
	  position: fixed;
	  top: 0;
	  /* width: 100% */
	  left: 0;
	  right: 0;
	  z-index:1;
}

body {
	padding-top: 75px;
}


.first-line {
    color: #686666;
    font-size: 12px;
    border-bottom:1px solid #dbdbdb;
}

.second-line a {
    text-decoration: none;
    color: #686666 !important;
    font-size: 12px;
}

@media screen and (max-width:48rem) {
    .first-line {
        text-align: center;
    }

}

@media screen and(max-width:48rem) {
    .search-line {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


.mbti-board {	
	position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 3 3em;
}

.button-write {
	float : right;
}

.modal-content {
	
	padding : 1.5rem;
}



